import sys
import warnings as warn

sys.path.append("/path/to/utilities")
warn.filterwarnings("ignore")

# IP address of SQL server
host = "1.2.3.4"

# Username
user = "user_name"

# Password
password = "password"

# Path to data directory
data_path = "/path/to/data"
